@font-face {
    font-family: 'MetaPro-Normal';
    src: url('../fonts/MetaPro/MetaPro-Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
$f-metaProNormal: 'MetaPro-Normal', sans-serif;  